{% extends 'bootstrap3/bootstrap3.html' %}
        
{% block bootstrap3_title %}{% block title %}{% endblock %}{% endblock %}

{% block bootstrap3_content %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "autentificare/login.css" %}">

<div class="container">
  <div class="row">
    <div class="Absolute-Center is-Responsive">
      <div id="logo-container"></div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">
           {% block content %}
            {% endblock %}
      </div>  
    </div>    
  </div>
</div>

{% endblock %}