{% extends 'bootstrap3/bootstrap3.html' %}

{% block bootstrap3_title %}{{ "Account Settings" }}{% endblock %}

{% block bootstrap3_extra_head %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "home/base.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "home/content.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "common/sidebar.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "account/account.css" %}">
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="{% static "account/listbox.js" %}"></script>
{% endblock %}
{% block bootstrap3_content %}

<div class="container-fluid nopadding" >
    <div class="row-fluid nopadding">
        <div id="sidebar" class="col-md-2 nopadding">
        {% block sidebar %}
            {% include "common/sidebar.html" with item_list=side_menu_list %}
        {% endblock sidebar %}
        </div>
    <div id="content" class="col-md-10">
        <legend style="font-family: 'Lobster'; font-size:32px;">Account Settings</legend>
        <div class="col-md-4">
            <form method="POST" class="form-horizontal">
                {% csrf_token %}
                <div class="control-group">
                    <label for="id_email">Email:</label>
                    <input type="email" class="form-control" id="id_email" maxlength="128" name="email" placeholder="Your email address">
                </div>
                <br>
                <div class="control-group">
                    <label for="id_pass">Current Password:</label>
                    <input type="password" class="form-control" id="id_pass" maxlength="128" name="cur_password">
                </div>
                <br>
                <div class="control-group">
                    <label for="id_new_pass">New Password:</label>
                    <input type="password" class="form-control" id="id_new_pass" maxlength="128" name="new_password">
                </div>
                <br>
                <div class="control-group">
                    <label for="id_addr">Address:</label>
                    <input type="text" class="form-control" id="id_addr" maxlength="128" name="address" placeholder="Your home address">
                </div>
                <br>
                <div class="control-group">
                    <label for="id_phone">Phone:</label>
                    <input type="text" class="form-control" id="id_phone" maxlength="16" name="phone" placeholder="Your phone number">
                </div>
                <br>
                <br>
                <input type="submit" id="update_btn" class="btn btn-def btn-block" value="Save Changes"></input>
            </form>
        </div>
        <div class="col-md-8">
            <form method="POST" class="form-horizontal">
                {% csrf_token %}
                <label for="listbox_preferences">Check your preferences:</label>
                <div style="max-height: 356px; overflow: auto;" id="preferences_checkboxes_div">
                    <ul class="list-group checked-list-box">
                        <li class="list-group-item">Security</li>
                        <li class="list-group-item">Genetics</li>
                        <li class="list-group-item">Machine Learning</li>
                        <li class="list-group-item">Antivirus</li>
                        <li class="list-group-item">Internet</li>
                        <li class="list-group-item">Web Technologies</li>
                        <li class="list-group-item">Databases</li>
                        <li class="list-group-item">Scripting</li>
                        <li class="list-group-item">BackEnd</li>
                        <li class="list-group-item">FrontEnd</li>
                        <li class="list-group-item">Artificial Intelligence</li>
                        <li class="list-group-item">Computation and Language</li>
                        <li class="list-group-item">Computational Complexity</li>
                        <li class="list-group-item">Computational Engineering, Finance, and Science</li>
                        <li class="list-group-item">Computational Geometry</li>
                        <li class="list-group-item">Computer Science and Game Theory</li>
                        <li class="list-group-item">Computer Vision and Pattern Recognition</li>
                        <li class="list-group-item">Computers and Society</li>
                        <li class="list-group-item">Cryptography and Security</li>
                        <li class="list-group-item">Data Structures and Algorithms</li>
                        <li class="list-group-item">Databases</li>
                        <li class="list-group-item">Digital Libraries</li>
                        <li class="list-group-item">Discrete Mathematics</li>
                        <li class="list-group-item">Distributed, Parallel, and Cluster Computing</li>
                        <li class="list-group-item">Emerging Technologies</li>
                        <li class="list-group-item">Formal Languages and Automata Theory</li>
                        <li class="list-group-item">General Literature</li>
                        <li class="list-group-item">Graphics</li>
                        <li class="list-group-item">Hardware Architecture</li>
                        <li class="list-group-item">Human-Computer Interaction</li>
                        <li class="list-group-item">Information Retrieval</li>
                        <li class="list-group-item">Information Theory</li>
                        <li class="list-group-item">Learning</li>
                        <li class="list-group-item">Logic in Computer Science</li>
                        <li class="list-group-item">Mathematical Software</li>
                        <li class="list-group-item">Multiagent Systems</li>
                        <li class="list-group-item">Multimedia</li>
                        <li class="list-group-item">Networking and Internet Architecture</li>
                        <li class="list-group-item">Neural and Evolutionary Computing</li>
                        <li class="list-group-item">Numerical Analysis</li>
                        <li class="list-group-item">Operating Systems</li>
                        <li class="list-group-item">Other Computer Science</li>
                        <li class="list-group-item">Performance</li>
                        <li class="list-group-item">Programming Languages</li>
                        <li class="list-group-item">Robotics</li>
                        <li class="list-group-item">Social and Information Networks</li>
                        <li class="list-group-item">Software Engineering</li>
                        <li class="list-group-item">Sound</li>
                        <li class="list-group-item">Symbolic Computation</li>
                        <li class="list-group-item">Systems and Control</li>
                    </ul>
                </div>
                <br>
                <br>
                <input type="submit" id="update_btn" class="btn btn-def btn-block" value="Save Preferences"></input>
            </form>
        </div>
    </div>
  </div>
</div>

{% endblock bootstrap3_content %}
