{% extends 'bootstrap3/bootstrap3.html' %}

{% block bootstrap3_title %}{{ "Home Page" }}{% endblock %}

<!-- HEAD -->
{% block bootstrap3_extra_head %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "home/base.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "authentification/login.css" %}">
{% endblock %}
{% block bootstrap3_content %}

<div class="container-fluid nopadding" >
    <div class="row-fluid nopadding">
        <div id="sidebar" class="col-md-2 nopadding">
        {% block sidebar %}
            {% include "common/sidebar.html" with item_list=side_menu_list %}
        {% endblock sidebar %}
        </div>
    <div id="content" class="col-md-10">
            <form method="POST" class="form-horizontal">
                <legend>::: Account Settings</legend>
                    <div class="col-md-4">
                        <div class="control-group">
                            <label for="id_email">Email:</label>
                            <input type="email" class="form-control" id="id_email" maxlength="128" name="email" placeholder="Your Email Adress">
                        </div>
                        <br>
                        <input type="submit" id="update_btn" class="btn btn-def btn-block" value="Login"></input>
                    </div>
            </form>
    </div>
  </div>
</div>

{% endblock bootstrap3_content %}
