{% extends 'bootstrap3/bootstrap3.html' %}

{% block bootstrap3_title %}{{ "Home Page" }}{% endblock %}

<!-- HEAD -->
{% block bootstrap3_extra_head %}
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "home/base.css" %}">
{% endblock %}

{% block bootstrap3_content %}

<div class="container-fluid nopadding" >
  <div class="row-fluid nopadding">
    <div id="sidebar" class="col-md-2 nopadding">
      {% block sidebar %}
        
        {% include "common/sidebar.html" with item_list=side_menu_list %}

      {% endblock sidebar %}
    </div>
    <div id="content" class="col-md-10">
       {% block content_container %}
         {% block content %}
           <!-- Content code here -->
         {% endblock content %}
       {% endblock content_container %}
    </div>
  </div>
</div>
{% endblock bootstrap3_content %}
