{% extends "home/base.html" %}

{% block content %}
	<div id="prezentation">
		<h>
			TReX (Topic-based Resource eXplorer)
		</h>

		<p>
			This project is intended to be a Web tool for collecting, retrieving and viewing information about scientific and / or technological resources (articles, books, technical reports, presentations, source code and others) of people interested in an area Computer science - for example, algorithmic, human-computer interaction, programming paradigms, security, Web, etc.
		</p>
		<p>
			Using information and media from different social media applications (such as Feed, GitHub, Google Scholar, Lanyrd, Pocket, Slideshare, Vimeo, etc.) this application will  
		</p>
	</div>
{% endblock content %}