{% extends "base_home.html" %}

{% load static %}

{% block bootstrap3_title %}
    {{ title }}
{% endblock %}

{% block base_home_content %}
	<legend style="font-family: 'Lobster'; font-size:32px;">
	{{ firstname }} {{ lastname }}
	</legend>
	<img src="{% static "defaultuser.png" %}" style="width: 256px; height: 256px; border: 1px solid #ddd;
    border-radius: 4px; padding: 5px;">
	<p style="font-size: 30px;"> Postarile lui {{ firstname }} {{ lastname }} : </p>
	{% for post in posts %}
		<p><a href="/posts/?postid={{ post.postid }}"> {{ post.title }} </a></p>
	{% endfor %}

	<p style="font-size: 30px;"> Preferintele sale: </p>
	{% for tag in tags %}
		<p><a href="/tags/?tagid={{ tag.tagid }}"> {{ tag.name }} </a></p>
	{% endfor %}

	<p style="font-size: 30px;"> Detalii despre el: </p>
	<p> {{ firstname }} </p>
	<p> {{ lastname }} </p>
	<p> {{ email }} </p>
	<p> {{ phone }} </p>
{% endblock base_home_content %}