{% extends "base_home.html" %}

{% load static %}

{% block bootstrap3_title %}
    {{ title }}
{% endblock %}

{% block bootstrap3_extra_head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "account.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "post.css" %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block base_home_content %}
	<p style="font-size: 30px;"> Postarile lui {{ firstname }} {{ lastname }} : </p>
	{% for post in posts %}
		<p><a href="/posts/?postid={{ post.postid }}"> {{ post.title }} </a></p>
	{% endfor %}

	<p style="font-size: 30px;"> Preferintele sale: </p>
	{% for tag in tags %}
		<p><a href="/tags/?tagid={{ tag.tagid }}"> {{ tag.name }} </a></p>
	{% endfor %}

	<p style="font-size: 30px;"> Detalii despre el: </p>
	<p> {{ firstname }} </p>
	<p> {{ lastname }} </p>
	<p> {{ email }} </p>
	<p> {{ phone }} </p>
{% endblock base_home_content %}