{% extends 'base_home.html' %}
{% load static %}

{% block bootstrap3_title %}
    TReX Authors
{% endblock %}

{% block base_home_content %}
    <style>
        table, th, td {
            text-align: center;
            border: 1px solid black;
        }
        table {
            width: 100%;
        }
        th {
            height: 50px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static "authors.css" %}">
    <table id="table_authors">
        <tr>
            <th> Author </th>
            <th> Publications </th>
        </tr>
        {% for item in content %}
            <tr>
                <td class="author_class"> <a href="/authors/?userid={{ item.userid }}"> {{ item.author }} </a> </td>
                <td>
                {% for post in item.publications %}
                    <a href="/posts/?postid={{ post.postid }}">
                    {{ post.title }} </a> &nbsp;&nbsp;
                {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}