{% extends "home/base.html" %}

{% block content %}
	<div id="prezentation">
		<legend style="font-family: 'Lobster'; font-size:32px;">Topic-Based Resource eXplorer</legend>

		<p>
			This project is intended to be a Web tool for collecting, retrieving and viewing information about scientific and / or technological resources (articles, books, technical reports, presentations, source code and others) of people interested in an area of Computer science - for example, algorithms, human-computer interaction, programming paradigms, security, Web, etc.
		</p>
		<p>
			This web tool is designed as a mash-up application, using information and media from different social media applications (such as Feed, GitHub, Google Scholar, Lanyrd, Pocket, Slideshare, Vimeo, etc.), which can be available to people interested in one or more specific area of Computer Science. 
		</p>
		<br>
		<br>
		<p>
			Our team:
			<ul id="team_members">
				<li><a href="https://www.linkedin.com/in/ovidiu-chile/">Chile Ovidiu-Benone</a></li>
				<li><a href="https://www.linkedin.com/in/ilieionutoctavian/">Ilie Ionut Octavian</a></li>
				<li><a>Grosu Alexandru</a></li>
				<li><a href="https://www.linkedin.com/in/ciofu-vlad-725333142/">Ciofu Vlad</a></li>
		</p>
	</div>
{% endblock content %}