{% extends 'registration/base.html' %}

{% load bootstrap3 %}

{% block content %}
  <style>
    label{
        text-shadow: -1px 0 #5262AD, 0 1px #5262AD, 1px 0 #5262AD, 0 -1px #5262AD;
    }
  </style>
  <form method="post" action="/register/">
      {% csrf_token %}
      {{ form }}
      </br>
      <input type="submit" id="register_btn" class="btn btn-def btn-block" value="Register"></input>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info text-center" role="alert" id="alert_register" style="display:{{ display }};">{{ message }}</div>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    <script> 
                    // sleep time expects milliseconds
                    function sleep (time) {
                      return new Promise((resolve) => setTimeout(resolve, time));
                    }

                    // Usage!
                    sleep(2000).then(() => {
                         window.location = "../login";
                    });
                    </script>
                <p> </p>
                {% endif %}
            {% endfor %}
        {% endif %}
  </form>

  </body>
  </html>

{% endblock %}