{% load render_table from django_tables2 %}

<div class="panel with-nav-tabs panel-default">
    <div class="panel-heading">
        <ul class="nav nav-tabs" id="finfonav">
            <li class="active">
                <a href="#{{ tabs.keys.0|cut:" " }}" data-toggle="tab">{{ tabs.keys.0 }} </a>
            </li>
            {% for tab_name in tabs.keys|slice:"1:" %}
                <li>
                    <a href="#{{ tab_name|cut:" " }}" data-toggle="tab">{{ tab_name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            {% if tabs %}
                {% with tabs.values.0 as tab %}
                    <div class="tab-pane fade in active" id="{{ tabs.keys.0|cut:" " }}">
                        {% if tab.sidebar %}
                            {% include "search/grouped_tables.html" with data=tab.data %}
                        {% else %}
                            {% render_table tab.data "search/table.html" %}
                        {% endif %}
                    </div>
                {% endwith %}
                {% for tab_name, tab in tabs.items|slice:"1:" %}
                    <div class="tab-pane fade" id="{{ tab_name|cut:" " }}">
                        {% if tab.sidebar %}
                            {% include "search/grouped_table.html" with data=tab.data %}
                        {% else %}
                            {% render_table tab.data "search/table.html" %}
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
