{% extends 'base_home.html' %}
{% load static %}

{% block bootstrap3_title %}
    TReX Tags
{% endblock %}

{% block base_home_content %}
    <style>
        table, th, td {
            text-align: center;
            border: 1px solid black;
        }
        table {
            width: 100%;
        }
        th {
            height: 50px;
        }
    </style>
    <table>
        <tr>
            <th> Tag </th>
            <th> Posts </th>
        </tr>
        {% for tag in content %}
            <tr>
                <td> <a href="/tags/?tagid={{ tag.tagid }}"> {{ tag.name }} </a> </td>
                <td>
                {% for post in tag.posts %}
                    {% if forloop.counter0|divisibleby:2 %}
                        <p></p>
                    {% endif %}
                    <a href="/posts/?postid={{ post.postid }}"> {{ post.title }}</a>&nbsp;&nbsp;
                {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}