{% extends "home/base.html" %}
{% load render_table from django_tables2 %}

{% load staticfiles %}



{% block content %}
<!-- CONTENT -->
    <div class="row">
        <div class="col-md-3">
            <form method = "post" id= "select1">
                <p class="text-center" id="p_tags"> Selected desired tags </p>

                {% csrf_token %}
                <select multiple class="selectpicker show-tick form-control" name = "values" >
                {% for tag_name in tags %}
                    <option>{{ tag_name }}</option>>
                {% endfor %}
                </select>

                <input type="submit" value="Submit" id="tags_submit_btn">
            </form>
        </div>

        <div class="col-md-8" id="tags_info_right">
            <p class="text-center" id="p_tags_2"> Posts </p>
            {% if prefered_tags %}
                    {% render_table prefered_tags.table "search/table.html" %}
            {% endif %}
        </div>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger fade in col-md-11">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong></strong> {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}


<!-- FOOTER -->
{% block extra_scripts %}

{% endblock %}
