{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "common/sidebar.css" %}">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Josefin+Slab">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster">
<!-- SIDEBAR -->
<div class="nav-side-menu col-md-2 nopadding">
    <div class="menu-list">
        <a href="/" id="logo_a">
            <p class="text-center" id="logo_title">TREX</p>
            <img src="{% static "common/TREX.png" %}" class="img-responsive" id="trex_img">
        </a>
        <ul id="menu-content" class="menu-content collapsed out">
            {% for item_name, item_ico, subitems in side_menu_list %}
                <!-- ITEMS -->
                <li data-toggle="collapse" data-target="#{{ item_name }}" >   
                    <i class="{{ item_ico }}"></i> 
                        {{ item_name }} 
                </li>
                <!-- SUBITEMS -->
                <ul class="sub-menu collapse in" id={{ item_name }} >
                    {% for sub_item_name, sub_item_ref in subitems %}
                        <li>
                            <a href={{ sub_item_ref }}>{{ sub_item_name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
     </div>
</div>
