body{
  background: url(science.jpg) #111155;
  background-repeat: no-repeat;
  background-size: 100% 720px;
  color: white;
}

div.well{
  height: 250px;
} 

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%; 
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

#login_btn{
  background: #5262AD  !important;
  color: white;
}
#login_btn:hover{
  background: #1B48A9  !important;
}

#login_items{
  color: white;
  text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
}

#textbox_login{
  background-color:white;
  border: 1px solid #1B48A9; 
}

#textbox_case{
  background-color: #5262AD;
  border-color: #1B48A9;
}
