#save_changes_btn, #save_preferences_btn{
  background: #D13F32  !important;
  color: #D9CB9E;
}
#save_changes_btn:hover, #save_preferences_btn:hover{
  background: #C03020  !important;
}
/* CSS REQUIRED */
.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}


/* OVD */
body .content *{
    color: #1E1E20;
}

.list-group-item.active, .list-group-item.active:hover{
    background-color: #C2B58D;
}
.list-group-item{
    background-color: #D9CB9E;
}
.form-control{
    background-color: #D9CB9E;
}
#preferences_checkboxes_div::-webkit-scrollbar {
    width: 1em;
}
 
#preferences_checkboxes_div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#preferences_checkboxes_div::-webkit-scrollbar-thumb {
  background-color: #C2B58D;
  outline: 1px solid slategrey;
}

@media (min-width: 992px){
    .col-md-4 hr, .col-md-8 hr{
        display: none;
    }
}