#post_background {
  border-radius: 10px;
  background-color: rgb(218, 218, 184);
  padding: 10px;
}

.comment {
  border-radius: 10px;
  background-color: rgb(218, 218, 184);
  padding: 5px;	
  font-size: 14px;
}