{% extends 'registration/base.html' %}

{% load bootstrap3 %}

{% block title %}
    Login
{% endblock %}

{% block content %}
 <form method="post" action="/login/">
      {% csrf_token %}
      {{ form }}
      </br>
      <input type="submit" id="login_btn" class="btn btn-def btn-block" value="Login"></input>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info" role="alert" style="display:{{ display }};">{{ message }}</div>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    <script> 
                    // sleep time expects milliseconds
                    function sleep (time) {
                      return new Promise((resolve) => setTimeout(resolve, time));
                    }

                    // Usage!
                    sleep(2000).then(() => {
                         window.location = "/";
                    });
                    </script>
                {% endif %}
            {% endfor %}
        {% endif %}
      <div class="form-group text-center">
        <a id="login_items" href="/register/">Need an account?</a>
      </div>
  </form>

{% endblock %}