<!DOCTYPE html>
<html>
<style>

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    float: left;
    width: 50%;
}


</style>
<body>

<h2>Register</h2>

<form method="post" action="/register/">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Register"></input>
</form>

</body>
</html>
